<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/CssFor3.css}">
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="icon" href="/css/Icon.ico">
    <title>Reverse</title>
</head>
<body>
<main>
    <!--Введение чисел-->
    <div class="head">
        <p class="text">Введите число</p>
        <form action="/reverse/find_reverse" method="get">
            <label>
                <input class="form" type="text" name="number" placeholder="Введите числа">
            </label>
            <input class="button" type="submit" value="Отправить">
        </form>
        <!--Вывод числа-->
        <p class="text">Реверс числа:</p>
        <p class="text" th:text="${reverse}"></p>
        <a class="button" th:href="@{/main}">Назад</a>
    </div>
    <!--footer-->
    <footer class="footer">
        <hr class="line">
        <div class="text2"> Сверстал Саян</div>
        <div class="icons">
            <a href="mailto: asssayani@gmail.com" target="_blank"><i class="fa fa-google"></i></a>
            <a href="https://wa.me/+77474942575" target="_blank"><i class="fa fa-whatsapp"></i></a>
            <a href="https://github.com/SayanRuN" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </footer>
</main>
</body>
</html>